*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header h1{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#9394a5;
    padding-top: 10px;
    padding-bottom: 5px;
}
header h3{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#484b6a;
    padding-bottom: 5px;
    padding-top: 3px;
}

body{
    background-color: #d2d3db;
}
.container{
    padding-top: 20px;
    background-color: #e4e5f1 ;
    padding-bottom: 10px;
}
.container2{
    display: grid;
    justify-content: center;
    background-color: #b5badb;
    padding-top: 15px;
    padding-bottom: 10px;
}


#form{
    display:flex;
    justify-content: center;
}
input{
    height: 25px;
}
#nameAct{
    margin: 0px 5px;
    outline: none;
}
#date{
    margin: 0px 5px;
    height: 26px;
    outline: none;
}
textarea{
   resize: none; 
   height: 25px;
   margin: 0px 5px;
   outline:none;
}
#add{
    background-color: #496a48a9;
    margin-right: 5px;
    height:25px;
    width: 50px;
    border: none;
    padding: 0px 2px;
}
#cancel{
    background-color: #913737b4;
    margin-right: 5px;
    height:25px;
    width: 50px;
    border: none;
    padding: 0px 2px;
}

#newlin{
    padding-bottom: 18px;
    list-style: none;
    margin-right: 10px;
}
#linBtn{
    margin-left: 5px;
    display: inline-flex;
    border:none;
    padding: 0px 2px;
    background-color: #8ea1df88;
}

#add:hover{
    background-color: #496a48;
}
#cancel:hover{
    background-color: #913737;
}
#linBtn:hover{
    background-color:#8ea1df;
}
#newlin:hover{
    text-decoration: line-through;
}